.content{
    display: flex;
    gap: 1rem;
    margin-top: 40px;
}


.container{
    width: 80%;
    margin-bottom: 1rem;
}

.container h2{
    font-size: 0.9rem;
}

.container h3{
    font-weight: 400;
    font-size: 0.625rem;
}

.container p{
    font-family: 400;
    font-size: .75rem;
}

.in_container{
    margin-bottom: 1rem;
    padding: 1rem;
    border: 0.75px solid grey;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.in_buttons{
    grid-area: 2 / 3 / 3 / 5; 
    display: flex;
    align-items: end;
    justify-content: space-around;
}

.pluginInfo{
    grid-area: 1 / 1 / 2 / 3; 
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.category{
    width: 20%;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    align-content: start ;
}

.allPlugin{
    margin-bottom: 1.5rem;
}

