*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid #F1F5F9;

}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#title{
    font-family: Inter;
    font-weight: 600;
    font-size: 1.7rem;
}

.logoImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
